@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url('chrome-extension://__MSG_@@extension_id__/shared/fonts/Nunito-ExtraLight.ttf');
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url('chrome-extension://__MSG_@@extension_id__/shared/fonts/Nunito-ExtraLightItalic.ttf');
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url('chrome-extension://__MSG_@@extension_id__/shared/fonts/Nunito-Light.ttf');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url('chrome-extension://__MSG_@@extension_id__/shared/fonts/Nunito-LightItalic.ttf');
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url('chrome-extension://__MSG_@@extension_id__/shared/fonts/Nunito-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url('chrome-extension://__MSG_@@extension_id__/shared/fonts/Nunito-Italic.ttf');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url('chrome-extension://__MSG_@@extension_id__/shared/fonts/Nunito-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url('chrome-extension://__MSG_@@extension_id__/shared/fonts/Nunito-MediumItalic.ttf');
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url('chrome-extension://__MSG_@@extension_id__/shared/fonts/Nunito-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url('chrome-extension://__MSG_@@extension_id__/shared/fonts/Nunito-SemiBoldItalic.ttf');
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url('chrome-extension://__MSG_@@extension_id__/shared/fonts/Nunito-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url('chrome-extension://__MSG_@@extension_id__/shared/fonts/Nunito-BoldItalic.ttf');
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url('chrome-extension://__MSG_@@extension_id__/shared/fonts/Nunito-ExtraBold.ttf');
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url('chrome-extension://__MSG_@@extension_id__/shared/fonts/Nunito-ExtraBoldItalic.ttf');
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url('chrome-extension://__MSG_@@extension_id__/shared/fonts/Nunito-Black.ttf');
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url('chrome-extension://__MSG_@@extension_id__/shared/fonts/Nunito-BlackItalic.ttf');
  font-style: italic;
  font-weight: 900;
}